<div class="flex flex-col items-center justify-center h-screen w-full bg-primary-500">

    <div class="flex flex-col w-[600px] bg-white rounded-3xl gap-6 shadow-sm min-h-10 p-12 justify-stretch items-start">

        <div class="flex flex-col gap-10 items-start">
            <img src="assets/images/logo/logo.svg" alt="logo" class="h-6 w-auto">
            <h1 class="text-4xl font-medium text-black">Create an Account</h1>
        </div>

        <div [formGroup]="form" class="flex flex-col gap-3 w-full">

            <div class="flex flex-col">
                <ng-container *ngFor="let error of errors">
                    <p> {{error.message}} </p>
                </ng-container>
            </div>

            <theme-input required="true" formControlName="name" label="Full Name"
                placeholder="Enter your name"></theme-input>

            <theme-input required="true" formControlName="companyName" label="Company Name"
                placeholder="Enter your company name"></theme-input>

            <theme-input required="true" formControlName="role" label="Job Title"
                placeholder="Enter your Job Title"></theme-input>

            <theme-input required="true" formControlName="email" label="Email"
                placeholder="Enter your email"></theme-input>

            <theme-input type="password" required="true" formControlName="password" label="Password"
                placeholder="Enter your password"></theme-input>

            <button (click)="signup()">Signup</button>

            <p class="flex items-center justify-center text-sm text-black">Already have an account? &nbsp;<a
                    class="cursor-pointer text-primary-500 font-medium" (click)="login()">Login</a></p>

        </div>

    </div>



</div>